*{
    margin: 0;
    padding: 0;
}
nav{
    height: 4rem;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}
.myclass{
    display: flex;
    
}
ul li {
    margin: 20px;
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: white;
}
u li a:hower{
    color: orange;
}
body
